:root {
    --highlight-color: #00ffcc;
    --text-color: rgb(234, 234, 234);
    --background-color: #0f1212;
  }

body {
    text-align: center;
    background-color: var(--background-color);
    font-family: 'Arimo', sans-serif;
}

table, th, td {
    margin: auto;
    margin-top: 1rem;
    border: solid 0.1rem var(--text-color);
    border-collapse: collapse;
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #abd5cd;
}

@media (hover: hover) {
    button:hover {
        background-color: #90b4ad;
    }
}

button:active {
    background-color: #77958f;
}

a, a:visited {
    color: var(--text-color);
}

#ascending {
    color: var(--highlight-color);
}

#search-query {
    margin: 0.5rem;
    margin-right: 0rem;
    width: 15rem;
}

#results {
    margin: 1rem;
    margin-top: 0;
    overflow-x: scroll;
}

#progress {
    display: none;
    margin: auto;
}

#clear {
    display: none;
    margin: auto;
}

.sc {
    font-size: 0.8rem;
}