:root {
    --highlight-color: #00ffcc;
  }

body {
    text-align: center;
}

table, th, td {
    margin: auto;
    margin-top: 1rem;
    border: solid 0.1rem white;
    border-collapse: collapse;
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    margin: 0.5rem;
}

@media (hover: hover) {
    button:hover {
        background-color: rgb(144, 144, 144);
    }
}

button:active {
    background-color: rgb(130, 130, 130);
}

a, a:visited {
    color: white;
}

#ascending {
    color: var(--highlight-color);
}

#search-query {
    width: 18rem;
}

#results {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#clear {
    display: none;
    margin: auto;
}

.sc {
    font-size: 0.8rem;
}